<center> <h2> Assignment # 2 </h2> </center>  
<center> <h3> Perform the basic wrangling on the data <h3> </center>

### Task 1: Importing Files and Libraries
**i. Import Required libraries and Data File**

In [1]:
#write code here
import pandas as pd
import matplotlib.pyplot as plt

**ii. Read Fifa.csv file**

In [2]:
#write code here
file=pd.read_csv('fifa.csv')

**iii. Copy dataframe in df**

In [3]:
#write code here
df=file.copy()

### Task 2: Some Basic Operations on Data Frame </h3>

**i. Display the first five rows of the dataframe**

In [4]:
#Write Your Code Here
df.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,Gábor Király,69,GK,191,Right,0,,,,,,,70,66,63,74,35,66.0
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,,,,,,NaN
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,,,,,,NaN
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,,,,,,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,,,,,,NaN

**ii. Display columns names of the dataframe**

In [5]:
#Write Your Code Here
type(df.columns)

pandas.core.indexes.base.Index

**iii. Remove extra space in column names**

In [6]:
#Write Your Code Here
a=list(df.columns)
a=list(map(lambda el:el.replace(' ', ''),a))
a

['id',
 'name',
 'rating',
 'position',
 'height',
 'foot',
 'rare',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'heading',
 'diving',
 'handling',
 'kicking',
 'reflexes',
 'speed',
 'positioning']

In [7]:
df.columns=a

In [8]:
df.columns

Index(['id', 'name', 'rating', 'position', 'height', 'foot', 'rare', 'pace',
       'shooting', 'passing', 'dribbling', 'defending', 'heading', 'diving',
       'handling', 'kicking', 'reflexes', 'speed', 'positioning'],
      dtype='object')

**iv. Check data type of columns**

In [9]:
#Write Your Code Here
type(df.columns)

pandas.core.indexes.base.Index

**v. Get the Last five rows of dataframe**

In [10]:
#Write Your Code Here
df.tail()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
8842,9801,Danijel Ljuboja,73,A,189,Left,1,62,73,64,74,56,68,,,,,,NaN
8843,9805,Craig Bellamy,79,A,175,Right,0,80,78,67,81,62,71,,,,,,NaN
8844,9807,Michel Breuer,68,D,183,Right,0,61,40,56,51,70,74,,,,,,NaN
8845,9815,Gill Swerts,65,D,179,Right,0,65,48,63,65,67,69,,,,,,NaN
8846,9913,Mehdi Nafti,69,M,179,Right,0,55,56,64,65,69,60,,,,,,NaN

### Question: What do you understand by having a look at the top five and last 5 rows of data?

*Hint: Some values are not filled for certain types of positions.*

## Answer:   use head() and tail function helps us to show first and last 5 rows of data it shows how dataframe looklike

**vi. Get the statistical summary for the numerical columns**

In [11]:
#Write Your Code Here
df.describe
df.describe(include=["O"])

,name,position,foot,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed
count,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847
unique,8678,4,2,73,80,76,76,64,67,49,45,53,53,54
top,Júlio César,M,Right,,,,,,,,,,,
freq,5,3041,6762,930,930,930,930,930,930,7917,7917,7917,7917,7917

**vii. Show the statistical summary of object type columns in dataframe**

In [12]:
#Write Your Code Here
df_clo=df.copy()
df.describe(include=["O"])

,name,position,foot,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed
count,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847
unique,8678,4,2,73,80,76,76,64,67,49,45,53,53,54
top,Júlio César,M,Right,,,,,,,,,,,
freq,5,3041,6762,930,930,930,930,930,930,7917,7917,7917,7917,7917

**viii. Show the statistical summary of all the columns in dataframe**

In [13]:
#Write Your Code Here
df.describe(include='all')

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
count,8847.000000,8847,8847.000000,8847,8847.000000,8847,8847.000000,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,930.000000
unique,NaN,8678,NaN,4,NaN,2,NaN,73,80,76,76,64,67,49,45,53,53,54,NaN
top,NaN,Júlio César,NaN,M,NaN,Right,NaN,,,,,,,,,,,,NaN
freq,NaN,5,NaN,3041,NaN,6762,NaN,930,930,930,930,930,930,7917,7917,7917,7917,7917,NaN
mean,152337.538035,NaN,66.680457,NaN,181.750424,NaN,0.353114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.955914
std,54506.606056,NaN,7.146679,NaN,6.454356,NaN,0.477965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.854231
min,2.000000,NaN,40.000000,NaN,158.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.000000
25%,140001.500000,NaN,62.000000,NaN,178.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000
50%,171578.000000,NaN,66.000000,NaN,182.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.000000
75%,189185.000000,NaN,72.000000,NaN,186.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.000000
max,205583.000000,NaN,94.000000,NaN,208.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.000000

### Task 3: Dealing with Missing Value

**i. Count the number of missing values in each column**

In [14]:
df.dtypes

id               int64
name            object
rating           int64
position        object
height           int64
foot            object
rare             int64
pace            object
shooting        object
passing         object
dribbling       object
defending       object
heading         object
diving          object
handling        object
kicking         object
reflexes        object
speed           object
positioning    float64
dtype: object

In [15]:
#Write Your Code Here
df.isnull().sum()

id                0
name              0
rating            0
position          0
height            0
foot              0
rare              0
pace              0
shooting          0
passing           0
dribbling         0
defending         0
heading           0
diving            0
handling          0
kicking           0
reflexes          0
speed             0
positioning    7917
dtype: int64

**ii. Replace extra space with NaN**

In [16]:
##next

In [17]:
df=df.replace(' ',"NaN").reset_index()

In [18]:
##

In [19]:
#write code here
##
df['pace'][0]

'NaN'

**iii. Fill all null values of dataframe with 0**

In [20]:
#write code here
df=df.replace("NaN",0)

In [21]:
#df=df.replace(nan,0).reset_index()
type(df['positioning'][1])

numpy.float64

**iv. Count the number of players in each position**

In [22]:
#Write Your Code Here
print(df['position'].unique(),df['position'].value_counts().unique())

[' GK' ' M' ' A' ' D'] [3041 2794 2082  930]

**v. Check datatypes of all columns**

In [23]:
#write code here
df.dtypes

index            int64
id               int64
name            object
rating           int64
position        object
height           int64
foot            object
rare             int64
pace            object
shooting        object
passing         object
dribbling       object
defending       object
heading         object
diving          object
handling        object
kicking         object
reflexes        object
speed           object
positioning    float64
dtype: object

**vi. Cast ' pace', ' shooting', ' passing', ' dribbling', ' defending',' heading', ' diving', ' handling', ' kicking', ' reflexes', ' speed',' positioning' into Integer type**

In [24]:
#write code here
df['pace']=df['pace'].astype(int)
df['shooting']=df['shooting'].astype(int)
df['passing']=df['passing'].astype(int)
df['dribbling']=df['dribbling'].astype(int)
df['defending']=df['defending'].astype(int)
df['heading']=df['heading'].astype(int)
df['diving']=df['diving'].astype(int)
df['handling']=df['handling'].astype(int)
df['kicking']=df['kicking'].astype(int)
df['reflexes']=df['reflexes'].astype(int)
df['shooting']=df['shooting'].astype(int)
df['speed']=df['speed'].astype(int)
df["positioning"]=df["positioning"].fillna(0).astype(int)
df["positioning"] = df["positioning"].astype(int)

In [25]:
#write code here
df.dtypes

index           int64
id              int64
name           object
rating          int64
position       object
height          int64
foot           object
rare            int64
pace            int32
shooting        int32
passing         int32
dribbling       int32
defending       int32
heading         int32
diving          int32
handling        int32
kicking         int32
reflexes        int32
speed           int32
positioning     int32
dtype: object

### Task 4

**You have to split the dataframe into two dataframes, one containing all the features of Goal Keeper and other dataframe contains all other players**

In [26]:
df_goalkeeper= df[df['position'] == 'GK']
df_goalkeeper.head()

Empty DataFrame
Columns: [index, id, name, rating, position, height, foot, rare, pace, shooting, passing, dribbling, defending, heading, diving, handling, kicking, reflexes, speed, positioning]
Index: []

<span style="color:green">**As you can see that the dataframe is empty and no value has been assigned to it. Let's check out the issue.**</span>

**i. Check unique value of position, there must be a space on each position**

In [27]:
#Write code here
df['position'].unique()
temp=df['position'].copy()

In [28]:
temp=list(temp)

In [29]:
temp=list(map(lambda el:el.replace(' ', ''),temp))
temp

['GK',
 'M',
 'A',
 'D',
 'M',
 'D',
 'M',
 'M',
 'M',
 'A',
 'M',
 'M',
 'A',
 'A',
 'A',
 'M',
 'D',
 'A',
 'D',
 'M',
 'GK',
 'D',
 'D',
 'M',
 'M',
 'M',
 'M',
 'D',
 'M',
 'GK',
 'D',
 'GK',
 'D',
 'D',
 'M',
 'A',
 'M',
 'D',
 'M',
 'GK',
 'M',
 'GK',
 'A',
 'D',
 'GK',
 'A',
 'GK',
 'GK',
 'GK',
 'GK',
 'A',
 'D',
 'A',
 'D',
 'D',
 'M',
 'D',
 'M',
 'D',
 'D',
 'GK',
 'GK',
 'D',
 'M',
 'M',
 'GK',
 'M',
 'D',
 'M',
 'M',
 'D',
 'D',
 'M',
 'M',
 'D',
 'A',
 'A',
 'M',
 'M',
 'M',
 'A',
 'D',
 'D',
 'A',
 'A',
 'M',
 'M',
 'M',
 'D',
 'D',
 'A',
 'A',
 'D',
 'M',
 'M',
 'M',
 'D',
 'M',
 'M',
 'D',
 'M',
 'A',
 'M',
 'M',
 'GK',
 'M',
 'D',
 'M',
 'M',
 'D',
 'M',
 'M',
 'A',
 'GK',
 'D',
 'M',
 'GK',
 'M',
 'M',
 'M',
 'M',
 'D',
 'D',
 'M',
 'D',
 'M',
 'D',
 'M',
 'M',
 'A',
 'M',
 'GK',
 'A',
 'M',
 'D',
 'M',
 'D',
 'GK',
 'D',
 'D',
 'M',
 'A',
 'GK',
 'M',
 'D',
 'A',
 'D',
 'A',
 'A',
 'M',
 'D',
 'M',
 'A',
 'GK',
 'D',
 'M',
 'GK',
 'A',
 'D',
 'D',
 'D',
 'GK',
 'GK',
 'M',
 'D',
 'GK',
 'D',
 'M',
 'GK',
 'A',
 'D',
 'GK',
 'GK',
 'D',
 'M',
 'GK',
 'D',
 'D',
 'D',
 'M',
 'D',
 'M',
 'D',
 'D',
 'A',
 'D',
 'D',
 'D',
 'M',
 'M',
 'A',
 'D',
 'M',
 'M',
 'D',
 'M',
 'A',
 'A',
 'D',
 'A',
 'GK',
 'M',
 'A',
 'A',
 'D',
 'D',
 'A',
 'D',
 'GK',
 'D',
 'M',
 'D',
 'D',
 'M',
 'M',
 'GK',
 'D',
 'M',
 'GK',
 'GK',
 'D',
 'M',
 'D',
 'D',
 'M',
 'A',
 'D',
 'D',
 'M',
 'A',
 'A',
 'A',
 'A',
 'A',
 'M',
 'D',
 'D',
 'A',
 'M',
 'GK',
 'M',
 'GK',
 'A',
 'A',
 'GK',
 'M',
 'D',
 'M',
 'D',
 'D',
 'M',
 'M',
 'A',
 'A',
 'D',
 'D',
 'D',
 'M',
 'M',
 'GK',
 'D',
 'M',
 'M',
 'D',
 'D',
 'D',
 'M',
 'M',
 'M',
 'D',
 'M',
 'A',
 'A',
 'D',
 'D',
 'M',
 'GK',
 'A',
 'D',
 'D',
 'D',
 'GK',
 'D',
 'M',
 'D',
 'A',
 'A',
 'GK',
 'A',
 'D',
 'M',
 'M',
 'GK',
 'A',
 'A',
 'M',
 'D',
 'A',
 'M',
 'M',
 'M',
 'D',
 'D',
 'D',
 'M',
 'D',
 'A',
 'M',
 'M',
 'M',
 'A',
 'M',
 'M',
 'D',
 'M',
 'D',
 'M',
 'M',
 'A',
 'D',
 'D',
 'M',
 'A',
 'D',
 'D',
 'M',
 'M',
 'M',
 'D',
 'M',
 'D',
 'A',
 'D',
 'D',
 'M',
 'D',
 'A',
 'D',
 'D',
 'GK',
 'M',
 'M',
 'M',
 'GK',
 'M',
 'A',
 'D',
 'D',
 'M',
 'A',
 'GK',
 'M',
 'D',
 'A',
 'M',
 'A',
 'A',
 'A',
 'M',
 'GK',
 'A',
 'A',
 'M',
 'A',
 'D',
 'D',
 'D',
 'A',
 'GK',
 'D',
 'D',
 'D',
 'D',
 'GK',
 'A',
 'GK',
 'D',
 'D',
 'M',
 'GK',
 'D',
 'D',
 'D',
 'A',
 'D',
 'D',
 'GK',
 'D',
 'D',
 'D',
 'GK',
 'D',
 'GK',
 'A',
 'M',
 'A',
 'M',
 'A',
 'D',
 'D',
 'D',
 'GK',
 'GK',
 'GK',
 'M',
 'A',
 'M',
 'D',
 'M',
 'A',
 'GK',
 'M',
 'D',
 'M',
 'M',
 'D',
 'A',
 'GK',
 'M',
 'A',
 'GK',
 'GK',
 'M',
 'A',
 'A',
 'M',
 'GK',
 'GK',
 'D',
 'M',
 'A',
 'D',
 'A',
 'D',
 'D',
 'A',
 'D',
 'M',
 'D',
 'D',
 'M',
 'D',
 'A',
 'GK',
 'D',
 'D',
 'GK',
 'A',
 'D',
 'D',
 'GK',
 'D',
 'A',
 'M',
 'A',
 'A',
 'GK',
 'D',
 'A',
 'D',
 'A',
 'D',
 'GK',
 'D',
 'D',
 'A',
 'A',
 'M',
 'A',
 'GK',
 'M',
 'D',
 'A',
 'D',
 'M',
 'M',
 'D',
 'M',
 'GK',
 'D',
 'M',
 'A',
 'A',
 'M',
 'M',
 'M',
 'GK',
 'GK',
 'D',
 'A',
 'M',
 'GK',
 'D',
 'M',
 'GK',
 'M',
 'M',
 'GK',
 'M',
 'D',
 'A',
 'D',
 'M',
 'M',
 'A',
 'M',
 'GK',
 'A',
 'GK',
 'A',
 'M',
 'GK',
 'GK',
 'D',
 'D',
 'M',
 'M',
 'D',
 'GK',
 'A',
 'M',
 'GK',
 'A',
 'GK',
 'D',
 'D',
 'M',
 'M',
 'M',
 'D',
 'M',
 'M',
 'GK',
 'M',
 'D',
 'M',
 'D',
 'GK',
 'M',
 'A',
 'GK',
 'A',
 'M',
 'M',
 'A',
 'M',
 'M',
 'A',
 'A',
 'A',
 'M',
 'GK',
 'D',
 'D',
 'M',
 'D',
 'GK',
 'D',
 'M',
 'M',
 'M',
 'A',
 'D',
 'A',
 'D',
 'A',
 'M',
 'M',
 'D',
 'M',
 'M',
 'D',
 'D',
 'GK',
 'M',
 'A',
 'GK',
 'A',
 'A',
 'M',
 'D',
 'GK',
 'D',
 'M',
 'M',
 'GK',
 'GK',
 'D',
 'D',
 'M',
 'D',
 'M',
 'M',
 'M',
 'M',
 'GK',
 'M',
 'D',
 'M',
 'D',
 'GK',
 'A',
 'M',
 'D',
 'M',
 'A',
 'A',
 'D',
 'D',
 'D',
 'M',
 'GK',
 'D',
 'A',
 'M',
 'D',
 'A',
 'GK',
 'M',
 'D',
 'M',
 'D',
 'A',
 'A',
 'M',
 'A',
 'D',
 'D',
 'M',
 'A',
 'M',
 'M',
 'A',
 'D',
 'GK',
 'A',
 'M',
 'D',
 'M',
 'A',
 'D',
 'D',
 'D',
 'GK',
 'D',
 'M',
 'GK',
 'M',
 'M',
 'GK',
 'M',
 'M',
 'D',
 'M',
 'D',
 'D',
 'M',
 'D',
 'A',
 'M',
 'D',
 'D',
 'GK',
 'D',
 'M',
 'M',
 'GK',
 'GK',
 'M',
 'D',
 'D',
 'A',
 'GK',
 'D',
 'D',
 'D',
 'GK',
 'A',
 'A',
 'D',
 'A',
 'D',
 'M',
 'D',
 'D',
 'A',
 'M',
 'GK',
 'D',
 'M',
 'D',
 'M',
 'A',
 'A',
 'GK',
 'M',
 'D',
 'A',
 'D',
 'D',
 'M',
 'A',
 'A',
 'D',
 'M',
 'M',
 'D',
 'A',
 'D',
 'M',
 'A',
 'M',
 'D',
 'D',
 'D',
 'A',
 'GK',
 'D',
 'D',
 'M',
 'M',
 'A',
 'M',
 'A',
 'D',
 'M',
 'A',
 'A',
 'GK',
 'A',
 'D',
 'A',
 'M',
 'A',
 'D',
 'D',
 'D',
 'GK',
 'A',
 'D',
 'D',
 'D',
 'A',
 'A',
 'A',
 'M',
 'GK',
 'GK',
 'D',
 'A',
 'GK',
 'D',
 'A',
 'M',
 'M',
 'D',
 'GK',
 'M',
 'A',
 'M',
 'D',
 'M',
 'M',
 'M',
 'D',
 'A',
 'GK',
 'GK',
 'D',
 'M',
 'D',
 'D',
 'D',
 'M',
 'GK',
 'M',
 'D',
 'D',
 'D',
 'A',
 'A',
 'GK',
 'D',
 'D',
 'M',
 'M',
 'D',
 'D',
 'M',
 'M',
 'D',
 'A',
 'M',
 'D',
 'M',
 'M',
 'M',
 'A',
 'GK',
 'D',
 'D',
 'D',
 'A',
 'M',
 'M',
 'A',
 'M',
 'M',
 'D',
 'M',
 'D',
 'M',
 'A',
 'D',
 'D',
 'M',
 'M',
 'M',
 'D',
 'M',
 'M',
 'D',
 'M',
 'M',
 'M',
 'D',
 'D',
 'A',
 'D',
 'A',
 'A',
 'D',
 'D',
 'M',
 'M',
 'A',
 'A',
 'GK',
 'A',
 'GK',
 'M',
 'M',
 'GK',
 'D',
 'GK',
 'A',
 'GK',
 'D',
 'M',
 'GK',
 'M',
 'D',
 'D',
 'D',
 'GK',
 'M',
 'GK',
 'D',
 'D',
 'D',
 'D',
 'GK',
 'A',
 'M',
 'M',
 'D',
 'GK',
 'GK',
 'GK',
 'D',
 'D',
 'M',
 'D',
 'D',
 'GK',
 'D',
 'A',
 'D',
 'M',
 'D',
 'D',
 'D',
 'M',
 'D',
 'M',
 'D',
 'M',
 'D',
 'D',
 'M',
 'M',
 'D',
 'D',
 'A',
 'M',
 'D',
 'M',
 'A',
 'M',
 'D',
 'A',
 'M',
 'D',
 'GK',
 'D',
 'D',
 'A',
 'D',
 'M',
 'D',
 'GK',
 'A',
 'D',
 'A',
 'M',
 'A',
 'A',
 'GK',
 'D',
 'M',
 'D',
 'A',
 'D',
 'A',
 'M',
 'M',
 'D',
 'D',
 'D',
 'A',
 'GK',
 'A',
 'D',
 'M',
 'M',
 'M',
 'D',
 'A',
 'A',
 'D',
 'D',
 'M',
 'D',
 'D',
 'D',
 'GK',
 'D',
 'M',
 'D',
 'D',
 'A',
 'D',
 'M',
 'M',
 'M',
 'M',
 'A',
 'M',
 'M',
 'D',
 'A',
 'M',
 'D',
 'M',
 'M',
 'M',
 'M',
 'M',
 'GK',
 'D',
 'M',
 'A',
 'D',
 'D',
 'M',
 'M',
 'M',
 'A',
 'M',
 'GK',
 'A',
 'A',
 'GK',
 'A',
 'A',
 'GK',
 'M',
 'D',
 'M',
 'D',
 'A',
 'D',
 'D',
 'M',
 'D',
 'M',
 'D',
 'D',
 'M',
 'D',
 ...]

<span style="color:green">**From the above output, you can see that there is an extra space in the position reffered to as GK.**</span>

**ii. Remove extra space in position column and remove it like ' GK' to 'GK' and then again make dataframe of GK**<br>
*Hint: Use str.replace*

In [30]:
#Write Code here
df['position']=temp
df['position']

0       GK
1        M
2        A
3        D
4        M
5        D
6        M
7        M
8        M
9        A
10       M
11       M
12       A
13       A
14       A
15       M
16       D
17       A
18       D
19       M
20      GK
21       D
22       D
23       M
24       M
25       M
26       M
27       D
28       M
29      GK
        ..
8817     D
8818     M
8819     M
8820     D
8821     M
8822     M
8823     D
8824     M
8825     D
8826     M
8827    GK
8828    GK
8829     M
8830     M
8831     M
8832     A
8833     A
8834     M
8835     D
8836     A
8837     M
8838     M
8839    GK
8840     M
8841     A
8842     A
8843     A
8844     D
8845     D
8846     M
Name: position, Length: 8847, dtype: object

In [31]:
df

,index,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,0,1001,Gábor Király,69,GK,191,Right,0,0,0,0,0,0,0,70,66,63,74,35,66
1,1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,0,0,0,0,0,0
2,2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,0,0,0,0,0,0
3,3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,0,0,0,0,0,0
4,4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,0,0,0,0,0,0
5,5,100329,Abdoulaye Faye,72,D,187,Right,1,50,37,47,43,76,82,0,0,0,0,0,0
6,6,100330,José Saez,67,M,170,Right,0,53,60,65,61,64,60,0,0,0,0,0,0
7,7,100391,Laurent Delorge,67,M,179,Right,0,76,58,67,64,63,56,0,0,0,0,0,0
8,8,100521,David Noble,64,M,183,Right,1,62,52,66,65,56,53,0,0,0,0,0,0
9,9,100522,Dominic Foley,62,A,186,Left,1,34,65,55,55,56,77,0,0,0,0,0,0
10,10,100557,Brian Barry-Murphy,60,M,185,Left,0,61,54,60,47,60,48,0,0,0,0,0,0
11,11,100559,Paul McKenna,68,M,170,Right,0,53,65,68,63,70,69,0,0,0,0,0,0
12,12,100574,Paweł Abbott,59,A,187,Right,0,51,60,49,51,54,64,0,0,0,0,0,0
13,13,100578,Richard Cresswell,66,A,183,Right,1,56,63,53,49,62,72,0,0,0,0,0,0
14,14,100580,David Healy,69,A,173,Right,0,64,72,51,60,48,69,0,0,0,0,0,0
15,15,100585,Dickson Etuhu,75,M,188,Right,1,59,55,64,63,80,72,0,0,0,0,0,0
16,16,100670,Ashley Westwood,54,D,183,Right,0,47,26,39,40,62,57,0,0,0,0,0,0
17,17,100701,Paul Ifill,70,A,180,Right,0,72,65,59,78,54,52,0,0,0,0,0,0
18,18,100707,David Artell,59,D,188,Right,0,48,27,38,36,65,68,0,0,0,0,0,0
19,19,100743,Martin Rowlands,64,M,175,Right,1,52,60,66,66,63,59,0,0,0,0,0,0
20,20,100745,Paul Smith,64,GK,193,Right,1,0,0,0,0,0,0,65,62,55,67,41,62
21,21,100751,Kevin O'Connor,59,D,180,Right,0,53,48,60,53,62,55,0,0,0,0,0,0
22,22,100756,Stephen Hunt,56,D,185,Left,0,67,32,46,46,59,63,0,0,0,0,0,0
23,23,100758,Jay Tabb,63,M,170,Left,1,69,58,66,65,59,66,0,0,0,0,0,0
24,24,100792,Brynjar Gunnarsson,61,M,183,Right,0,34,54,61,65,68,66,0,0,0,0,0,0
25,25,100798,James O'Connor,63,M,173,Right,0,61,53,61,60,68,70,0,0,0,0,0,0
26,26,100803,Karl Henry,71,M,185,Right,0,55,57,71,71,73,64,0,0,0,0,0,0
27,27,100804,Gareth Owen,62,D,185,Left,0,61,19,48,46,65,67,0,0,0,0,0,0
28,28,100806,Kris Commons,75,M,168,Left,0,79,74,73,80,48,60,0,0,0,0,0,0
29,29,100807,Stefanos Kotsolis,65,GK,190,Right,0,0,0,0,0,0,0,62,68,62,65,60,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8817,8817,8753,Omar Daf,68,D,177,Right,0,61,38,62,47,72,69,0,0,0,0,0,0
8818,8818,878,Danny Schofield,64,M,178,Right,0,64,58,62,61,56,59,0,0,0,0,0,0
8819,8819,8798,Movilla,69,M,171,Right,0,45,57,72,56,66,53,0,0,0,0,0,0
8820,8820,880,Nat Brown,57,D,188,Right,0,53,32,39,38,62,69,0,0,0,0,0,0
8821,8821,882,John Thorrington,63,M,173,Right,1,68,64,61,64,62,63,0,0,0,0,0,0
8822,8822,8830,Giuseppe Colucci,72,M,179,Right,1,57,69,74,69,66,53,0,0,0,0,0,0
8823,8823,8842,Lionel Scaloni,68,D,182,Right,0,52,65,71,68,70,60,0,0,0,0,0,0
8824,8824,885,Dwayne Mattis,64,M,183,Right,0,72,47,57,53,68,58,0,0,0,0,0,0
8825,8825,887,Nathan Clarke,62,D,185,Right,0,56,26,40,35,67,64,0,0,0,0,0,0
8826,8826,889,Jody Morris,66,M,165,Right,0,64,50,62,73,60,58,0,0,0,0,0,0
8827,8827,8910,Carlo Nash,63,GK,182,Right,1,0,0,0,0,0,0,60,66,60,63,45,64
8828,8828,899,Frank Rost,74,GK,194,Right,1,0,0,0,0,0,0,72,74,70,75,32,80
8829,8829,9014,Arjen Robben,90,M,181,Left,1,93,85,81,93,53,60,0,0,0,0,0,0
8830,8830,9037,Rufete,67,M,176,Right,0,58,64,72,71,59,48,0,0,0,0,0,0
8831,8831,9195,Pantelis Kafes,70,M,180,Right,1,66,72,73,74,68,63,0,0,0,0,0,0
8832,8832,9232,Tomasz Frankowski,68,A,172,Right,0,59,67,48,60,42,66,0,0,0,0,0,0
8833,8833,9273,Thorstein Helstad,70,A,187,Right,1,53,72,61,69,58,73,0,0,0,0,0,0
8834,8834,9432,Yossi Benayoun,82,M,178,Right,0,71,73,76,82,55,60,0,0,0,0,0,0
8835,8835,9639,Aitor Ocio,72,D,187,Right,0,32,47,64,56,73,62,0,0,0,0,0,0
8836,8836,9676,Samuel Eto'o,88,A,180,Right,1,93,83,68,85,58,79,0,0,0,0,0,0
8837,8837,9722,Nicolai Stokholm,67,M,182,Right,0,59,67,71,56,70,70,0,0,0,0,0,0
8838,8838,9723,Camel Meriem,71,M,174,Right,0,58,65,69,75,45,62,0,0,0,0,0,0
8839,8839,9751,Gábor Babos,71,GK,196,Right,1,0,0,0,0,0,0,70,70,60,70,29,75
8840,8840,9771,Orlando Engelaar,73,M,196,Left,1,38,71,71,65,75,61,0,0,0,0,0,0
8841,8841,9799,Pierre-Alain Frau,73,A,175,Right,1,79,72,68,71,54,68,0,0,0,0,0,0
8842,8842,9801,Danijel Ljuboja,73,A,189,Left,1,62,73,64,74,56,68,0,0,0,0,0,0
8843,8843,9805,Craig Bellamy,79,A,175,Right,0,80,78,67,81,62,71,0,0,0,0,0,0
8844,8844,9807,Michel Breuer,68,D,183,Right,0,61,40,56,51,70,74,0,0,0,0,0,0
8845,8845,9815,Gill Swerts,65,D,179,Right,0,65,48,63,65,67,69,0,0,0,0,0,0
8846,8846,9913,Mehdi Nafti,69,M,179,Right,0,55,56,64,65,69,60,0,0,0,0,0,0

**iii. Now make a dataframe of df_goalkeeper.**

In [32]:
#Write Your Code Here
df_goalkeeper=df.copy()

**iv. Dataframe of goal keeper must and only contain the following columns 'id', 'name', 'rating', 'position', 'height', 'foot',' rare','diving', 'handling', 'kicking', 'reflexes', 'speed','positioning'** <br>
**Drop all the other columns**

In [33]:
#write code here
df_goalkeeper.drop('pace',axis=1,inplace=True)

In [34]:
#write code here
df_goalkeeper.drop('shooting',axis=1,inplace=True)
df_goalkeeper.drop('passing',axis=1,inplace=True)
df_goalkeeper.drop('dribbling',axis=1,inplace=True)
df_goalkeeper.drop('defending',axis=1,inplace=True)
df_goalkeeper.drop('heading',axis=1,inplace=True)

In [35]:
df_goalkeeper.head()

,index,id,name,rating,position,height,foot,rare,diving,handling,kicking,reflexes,speed,positioning
0,0,1001,Gábor Király,69,GK,191,Right,0,70,66,63,74,35,66
1,1,100143,Frederik Boi,65,M,184,Right,0,0,0,0,0,0,0
2,2,100264,Tomasz Szewczuk,57,A,185,Right,0,0,0,0,0,0,0
3,3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,0,0,0,0,0,0
4,4,100326,Kamel Chafni,72,M,181,Right,0,0,0,0,0,0,0

**v. Make the dataframe of df_players having data of the all the other players except the goal keeper.**

In [36]:
#write code here
df_players=df[df['position']!='GK']

**vi. Dataframe of other players must contain the following columns 'id', 'name', 'rating', 'position', 'height', 'foot', 'rare',  'pace', 'shooting', 'passing', 'dribbling', 'defending', 'heading'** <br>
**Drop all the other columns**

In [37]:
#write code here
df_players.head()

,index,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
1,1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,0,0,0,0,0,0
2,2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,0,0,0,0,0,0
3,3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,0,0,0,0,0,0
4,4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,0,0,0,0,0,0
5,5,100329,Abdoulaye Faye,72,D,187,Right,1,50,37,47,43,76,82,0,0,0,0,0,0

In [39]:
#write code here


df_players.drop('diving',axis=1,inplace=True)
df_players.drop('handling',axis=1,inplace=True)
df_players.drop('kicking',axis=1,inplace=True)
df_players.drop('reflexes',axis=1,inplace=True)
df_players.drop('speed',axis=1,inplace=True)
df_players.drop('positioning',axis=1,inplace=True)

C:\Users\abdullah.aamir\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

**vii. Find shape of both the datasets**

In [40]:
#Write Your Code Here
df_players.shape

(7917, 14)

In [42]:
#write code here
df_goalkeeper.shape

(8847, 14)

**viii. Check head of both the splited dataframe**

In [43]:
#Write Your Code Here
df_goalkeeper.head()

,index,id,name,rating,position,height,foot,rare,diving,handling,kicking,reflexes,speed,positioning
0,0,1001,Gábor Király,69,GK,191,Right,0,70,66,63,74,35,66
1,1,100143,Frederik Boi,65,M,184,Right,0,0,0,0,0,0,0
2,2,100264,Tomasz Szewczuk,57,A,185,Right,0,0,0,0,0,0,0
3,3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,0,0,0,0,0,0
4,4,100326,Kamel Chafni,72,M,181,Right,0,0,0,0,0,0,0

In [44]:
#Write Your Code Here
df_players.head()

,index,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading
1,1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62
2,2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74
3,3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71
4,4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66
5,5,100329,Abdoulaye Faye,72,D,187,Right,1,50,37,47,43,76,82

**ix. Show the summary stats of both the datasets**

In [45]:
#Write Your Code Here for summary stats of goal keeper
df_players.describe

<bound method NDFrame.describe of       index      id                     name  rating position  height    foot  \
1         1  100143             Frederik Boi      65        M     184   Right
2         2  100264          Tomasz Szewczuk      57        A     185   Right
3         3  100325   Steeve Joseph-Reinette      63        D     180    Left
4         4  100326             Kamel Chafni      72        M     181   Right
5         5  100329           Abdoulaye Faye      72        D     187   Right
6         6  100330                José Saez      67        M     170   Right
7         7  100391          Laurent Delorge      67        M     179   Right
8         8  100521              David Noble      64        M     183   Right
9         9  100522            Dominic Foley      62        A     186    Left
10       10  100557       Brian Barry-Murphy      60        M     185    Left
11       11  100559             Paul McKenna      68        M     170   Right
12       12  100574             Paweł Abbott      59        A     187   Right
13       13  100578        Richard Cresswell      66        A     183   Right
14       14  100580              David Healy      69        A     173   Right
15       15  100585            Dickson Etuhu      75        M     188   Right
16       16  100670          Ashley Westwood      54        D     183   Right
17       17  100701               Paul Ifill      70        A     180   Right
18       18  100707             David Artell      59        D     188   Right
19       19  100743          Martin Rowlands      64        M     175   Right
21       21  100751           Kevin O'Connor      59        D     180   Right
22       22  100756             Stephen Hunt      56        D     185    Left
23       23  100758                 Jay Tabb      63        M     170    Left
24       24  100792       Brynjar Gunnarsson      61        M     183   Right
25       25  100798           James O'Connor      63        M     173   Right
26       26  100803               Karl Henry      71        M     185   Right
27       27  100804              Gareth Owen      62        D     185    Left
28       28  100806             Kris Commons      75        M     168    Left
30       30  100889              Louis Carey      67        D     178   Right
32       32  100907              Danny Coles      62        D     185   Right
33       33  100932       Sotirios Kyrgiakos      76        D     193   Right
...     ...     ...                      ...     ...      ...     ...     ...
8814   8814    8473            Tomáš Rosický      81        M     179   Right
8815   8815    8517             Scott Parker      82        M     175   Right
8816   8816     860              Danny Senda      57        D     178   Right
8817   8817    8753                 Omar Daf      68        D     177   Right
8818   8818     878          Danny Schofield      64        M     178   Right
8819   8819    8798                  Movilla      69        M     171   Right
8820   8820     880                Nat Brown      57        D     188   Right
8821   8821     882         John Thorrington      63        M     173   Right
8822   8822    8830         Giuseppe Colucci      72        M     179   Right
8823   8823    8842           Lionel Scaloni      68        D     182   Right
8824   8824     885            Dwayne Mattis      64        M     183   Right
8825   8825     887            Nathan Clarke      62        D     185   Right
8826   8826     889              Jody Morris      66        M     165   Right
8829   8829    9014             Arjen Robben      90        M     181    Left
8830   8830    9037                   Rufete      67        M     176   Right
8831   8831    9195           Pantelis Kafes      70        M     180   Right
8832   8832    9232        Tomasz Frankowski      68        A     172   Right
8833   8833    9273        Thorstein Helstad      70        A     187   Right
8834   8834    9432           Yossi Benayoun      82        M     178   Right
8835   8835    9639               Aitor Ocio      72        D     187   Right
8836   8836    9676             Samuel Eto'o      88        A     180   Right
8837   8837    9722         Nicolai Stokholm      67        M     182   Right
8838   8838    9723             Camel Meriem      71        M     174   Right
8840   8840    9771         Orlando Engelaar      73        M     196    Left
8841   8841    9799        Pierre-Alain Frau      73        A     175   Right
8842   8842    9801          Danijel Ljuboja      73        A     189    Left
8843   8843    9805            Craig Bellamy      79        A     175   Right
8844   8844    9807            Michel Breuer      68        D     183   Right
8845   8845    9815              Gill Swerts      65        D     179   Right
8846   8846    9913              Mehdi Nafti      69        M     179   Right

      rare  pace  shooting  passing  dribbling  defending  heading
1        0    61        65       63         59         62       62
2        0    65        54       43         53         55       74
3        0    68        38       51         46         64       71
4        0    75        64       67         72         57       66
5        1    50        37       47         43         76       82
6        0    53        60       65         61         64       60
7        0    76        58       67         64         63       56
8        1    62        52       66         65         56       53
9        1    34        65       55         55         56       77
10       0    61        54       60         47         60       48
11       0    53        65       68         63         70       69
12       0    51        60       49         51         54       64
13       1    56        63       53         49         62       72
14       0    64        72       51         60         48       69
15       1    59        55       64         63         80       72
16       0    47        26       39         40         62       57
17       0    72        65       59         78         54       52
18       0    48        27       38         36         65       68
19       1    52        60       66         66         63       59
21       0    53        48       60         53         62       55
22       0    67        32       46         46         59       63
23       1    69        58       66         65         59       66
24       0    34        54       61         65         68       66
25       0    61        53       61         60         68       70
26       0    55        57       71         71         73       64
27       0    61        19       48         46         65       67
28       0    79        74       73         80         48       60
30       0    45        31       45         38         69       78
32       0    70        32       33         35         66       67
33       1    41        42       46         38         80       80
...    ...   ...       ...      ...        ...        ...      ...
8814     1    68        75       81         84         50       52
8815     1    73        76       81         76         78       74
8816     0    70        44       61         59         60       63
8817     0    61        38       62         47         72       69
8818     0    64        58       62         61         56       59
8819     0    45        57       72         56         66       53
8820     0    53        32       39         38         62       69
8821     1    68        64       61         64         62       63
8822     1    57        69       74         69         66       53
8823     0    52        65       71         68         70       60
8824     0    72        47       57         53         68       58
8825     0    56        26       40         35         67       64
8826     0    64        50       62         73         60       58
8829     1    93        85       81         93         53       60
8830     0    58        64       72         71         59       48
8831     1    66        72       73         74         68       63
8832     0    59        67       48         60         42       66
8833     1    53        72       61         69         58       73
8834     0    71        73       76         82         55       60
8835     0    32        47       64         56         73       62
8836     1    93        83       68         85         58       79
8837     0    59        67       71         56         70       70
8838     0    58        65       69         75         45       62
8840     1    38        71       71         65         75       61
8841     1    79        72       68         71         54       68
8842     1    62        73       64         74         56       68
8843     0    80        78       67         81         62       71
8844     0    61        40       56         51         70       74
8845     0    65        48       63         65         67       69
8846     0    55        56       64         65         69       60

[7917 rows x 14 columns]>

In [47]:
df_goalkeeper.describe

<bound method NDFrame.describe of       index      id                     name  rating position  height    foot  \
0         0    1001             Gábor Király      69       GK     191   Right
1         1  100143             Frederik Boi      65        M     184   Right
2         2  100264          Tomasz Szewczuk      57        A     185   Right
3         3  100325   Steeve Joseph-Reinette      63        D     180    Left
4         4  100326             Kamel Chafni      72        M     181   Right
5         5  100329           Abdoulaye Faye      72        D     187   Right
6         6  100330                José Saez      67        M     170   Right
7         7  100391          Laurent Delorge      67        M     179   Right
8         8  100521              David Noble      64        M     183   Right
9         9  100522            Dominic Foley      62        A     186    Left
10       10  100557       Brian Barry-Murphy      60        M     185    Left
11       11  100559             Paul McKenna      68        M     170   Right
12       12  100574             Paweł Abbott      59        A     187   Right
13       13  100578        Richard Cresswell      66        A     183   Right
14       14  100580              David Healy      69        A     173   Right
15       15  100585            Dickson Etuhu      75        M     188   Right
16       16  100670          Ashley Westwood      54        D     183   Right
17       17  100701               Paul Ifill      70        A     180   Right
18       18  100707             David Artell      59        D     188   Right
19       19  100743          Martin Rowlands      64        M     175   Right
20       20  100745               Paul Smith      64       GK     193   Right
21       21  100751           Kevin O'Connor      59        D     180   Right
22       22  100756             Stephen Hunt      56        D     185    Left
23       23  100758                 Jay Tabb      63        M     170    Left
24       24  100792       Brynjar Gunnarsson      61        M     183   Right
25       25  100798           James O'Connor      63        M     173   Right
26       26  100803               Karl Henry      71        M     185   Right
27       27  100804              Gareth Owen      62        D     185    Left
28       28  100806             Kris Commons      75        M     168    Left
29       29  100807        Stefanos Kotsolis      65       GK     190   Right
...     ...     ...                      ...     ...      ...     ...     ...
8817   8817    8753                 Omar Daf      68        D     177   Right
8818   8818     878          Danny Schofield      64        M     178   Right
8819   8819    8798                  Movilla      69        M     171   Right
8820   8820     880                Nat Brown      57        D     188   Right
8821   8821     882         John Thorrington      63        M     173   Right
8822   8822    8830         Giuseppe Colucci      72        M     179   Right
8823   8823    8842           Lionel Scaloni      68        D     182   Right
8824   8824     885            Dwayne Mattis      64        M     183   Right
8825   8825     887            Nathan Clarke      62        D     185   Right
8826   8826     889              Jody Morris      66        M     165   Right
8827   8827    8910               Carlo Nash      63       GK     182   Right
8828   8828     899               Frank Rost      74       GK     194   Right
8829   8829    9014             Arjen Robben      90        M     181    Left
8830   8830    9037                   Rufete      67        M     176   Right
8831   8831    9195           Pantelis Kafes      70        M     180   Right
8832   8832    9232        Tomasz Frankowski      68        A     172   Right
8833   8833    9273        Thorstein Helstad      70        A     187   Right
8834   8834    9432           Yossi Benayoun      82        M     178   Right
8835   8835    9639               Aitor Ocio      72        D     187   Right
8836   8836    9676             Samuel Eto'o      88        A     180   Right
8837   8837    9722         Nicolai Stokholm      67        M     182   Right
8838   8838    9723             Camel Meriem      71        M     174   Right
8839   8839    9751              Gábor Babos      71       GK     196   Right
8840   8840    9771         Orlando Engelaar      73        M     196    Left
8841   8841    9799        Pierre-Alain Frau      73        A     175   Right
8842   8842    9801          Danijel Ljuboja      73        A     189    Left
8843   8843    9805            Craig Bellamy      79        A     175   Right
8844   8844    9807            Michel Breuer      68        D     183   Right
8845   8845    9815              Gill Swerts      65        D     179   Right
8846   8846    9913              Mehdi Nafti      69        M     179   Right

      rare  diving  handling  kicking  reflexes  speed  positioning
0        0      70        66       63        74     35           66
1        0       0         0        0         0      0            0
2        0       0         0        0         0      0            0
3        0       0         0        0         0      0            0
4        0       0         0        0         0      0            0
5        1       0         0        0         0      0            0
6        0       0         0        0         0      0            0
7        0       0         0        0         0      0            0
8        1       0         0        0         0      0            0
9        1       0         0        0         0      0            0
10       0       0         0        0         0      0            0
11       0       0         0        0         0      0            0
12       0       0         0        0         0      0            0
13       1       0         0        0         0      0            0
14       0       0         0        0         0      0            0
15       1       0         0        0         0      0            0
16       0       0         0        0         0      0            0
17       0       0         0        0         0      0            0
18       0       0         0        0         0      0            0
19       1       0         0        0         0      0            0
20       1      65        62       55        67     41           62
21       0       0         0        0         0      0            0
22       0       0         0        0         0      0            0
23       1       0         0        0         0      0            0
24       0       0         0        0         0      0            0
25       0       0         0        0         0      0            0
26       0       0         0        0         0      0            0
27       0       0         0        0         0      0            0
28       0       0         0        0         0      0            0
29       0      62        68       62        65     60           64
...    ...     ...       ...      ...       ...    ...          ...
8817     0       0         0        0         0      0            0
8818     0       0         0        0         0      0            0
8819     0       0         0        0         0      0            0
8820     0       0         0        0         0      0            0
8821     1       0         0        0         0      0            0
8822     1       0         0        0         0      0            0
8823     0       0         0        0         0      0            0
8824     0       0         0        0         0      0            0
8825     0       0         0        0         0      0            0
8826     0       0         0        0         0      0            0
8827     1      60        66       60        63     45           64
8828     1      72        74       70        75     32           80
8829     1       0         0        0         0      0            0
8830     0       0         0        0         0      0            0
8831     1       0         0        0         0      0            0
8832     0       0         0        0         0      0            0
8833     1       0         0        0         0      0            0
8834     0       0         0        0         0      0            0
8835     0       0         0        0         0      0            0
8836     1       0         0        0         0      0            0
8837     0       0         0        0         0      0            0
8838     0       0         0        0         0      0            0
8839     1      70        70       60        70     29           75
8840     1       0         0        0         0      0            0
8841     1       0         0        0         0      0            0
8842     1       0         0        0         0      0            0
8843     0       0         0        0         0      0            0
8844     0       0         0        0         0      0            0
8845     0       0         0        0         0      0            0
8846     0       0         0        0         0      0            0

[8847 rows x 14 columns]>

### Question: What do you understand from the summary statistics of goal keeper?

### Answer:

In [ ]:
#Write Your Code Here for summary stats of players

### Question: What do you understanf from the summary statistics of other players?

### Answer:

### Task 5: Group By and Pivoting

**i. Display averages of each columns according the players' positions**

In [ ]:
#Write Your Code Here

**ii. Count number of players against each position and foot used by them.**    
*Hint: Use Groupby*

In [ ]:
#Write Your Code Here
#Group By Here

**iii. Perform grouping on position and foot to find mean, min and max values of rating. Store the result in a variable called 'a'** <br>
*Hint: Aggregate(mean,min,max) on rating using .agg() method and nested dictionaries* <br>

In [ ]:
#Write Your Code Here

**iv. Perform "PIVOTING" on the dataframe 'df'. The properties should be as following:**<br>
*index = ' position'<br>
columns = ' foot'<br>
values=' rating'<br>
aggfunc=['min','mean']*<br>

In [ ]:
#Write Code Here

# Visualization

### Task 6: Display total players of each position.

In [ ]:
#write code here

**Question: What insights do you get from the above plot?**

### Task 7:  Show the total number of players for each foot type.

In [ ]:
#Write code here

### Task 8. Show 'foot' ditribution per 'rating' using boxplot

In [ ]:
#write code here

**Question: What does the above box plot show?**

### Task 9. Display total number of players for each foot type according to their positions. But the result of each position should be a separate graph yet shown collectively  <br>
*Hint: You can use subplots and you can have a separate dataframe for each postion. Sample code fir subplots is given below:*<br>
*Sample Code 
<br>*
```
fig, ax=plt.subplots(2,2,sharey=True, figsize=(15,8))
sns.countplot(x='rating', data=df_goalkeeper, ax=ax[0,0])
ax[0,0].set_title('Goal keeper')
```

In [ ]:
df['position'].unique()

In [ ]:
df_M=df[df['position']==' M']
df_A=df[df['position']==' A']
df_D=df[df['position']==' D']

In [ ]:
#Write code here

### Task 10: What can be the relationship/correlation  ratings and defending of other players.<br>
*Hint: reg plot*

In [ ]:
#Write code here

**Question: What does the above plot show?**

### Task 11: Plot a graph to show the relationship/correlation among rating and handling of goal keeper. Also the distributions of each should be displayed along with the graph showing the relationship.<br>
*Hint: jointplot*

In [ ]:
#Write code here

### Task 12-a.  Make a heatmap to show correlation among all the columns of the goal keeper dataframe and answer the questions

In [ ]:
#write code here to find the correlation

In [ ]:
#write code here for heatmap

**Question: Which columns/variables/factors are important to determine ratings of goal keepers and why?**

### Task 12-b. Make a heatmap show correlation among all the columns of dataframe having data of all the other players and answer the questions

In [2]:
# Write the code to find the correlation here

In [3]:
#write code here for heatmap

**Question: Which columns/variables/factors are important to dertmine ratings of other players and why?**

### Task 13. Show distribution of rating.
*Hint: Use dist plot*

In [4]:
#write code here

**Question: What insights do you get from the distplot drawn above?**

### Task 14: Show the distribution of ratings of each types of players through KDE plot using distplot() function

In [5]:
#Write code here

### Task 15: What is the count of rare players in each type of postion?

In [6]:
#write code here